<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  </head>

  <body>
  	<h1>Bienvenue</h1>
    <h3>Application de recommandations</h3>
    <p><a href="/application">application</a></p>

    <h3>Utilisation du modèle via l'api</h3>
    <p>Modèle d'utilisation :</p>
        <pre><code>
# A curl example
curl -X POST https://APP_ADDRESS/api \
    -H 'Content-type: application/json' \
    -d '{"user_id" : ID_USER}'
        </code></pre>

    <p>Possibilité d'ajouter le paramètre <code>filter_liked_items</code> afin de ne recommander que des articles nouveaux. (par défaut <code>false</code>)</p>
    <p>Ainsi que <code>number_items</code> pour changer le nombre d'articles recommandés. (par défaut 5)</p>
    <p>Exemple :</p>
        <pre><code>
curl -X POST http://APP_ADDRESS/api \
    -H 'Content-type: application/json' \
    -d '{"user_id" : ID_USER, \
        "filter_liked_items" : true, \
        "number_items" : 10}'
        </code></pre>
  </body>
</html>